.payments-methods{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
&__icon{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 60px;
  height: 60px;
}
}
