.restaurant-page-logo{
background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 150px;
  height:150px;
  border-radius: 50%;
  border: 2px solid white;
  bottom: -40px;
  left:20px;

}