.order-item{
  margin-top: 10px;
  & td{
    text-align: center;

  }
  &__input{
    width: 40px;
    text-align: center;
  }
  & td:last-child{
    text-align: center;
  }
  &__img{
  width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    margin-right: 10px;
  }
  &__change-count{
    width: 80px;
  }
  &__title{
  }
  &__price{
  }
  &__del{
    color:red;
    cursor: pointer;
  }
}





